<div class="responsive">
  <div class="gallery">
    <a href="%IMAGE_TARGET%">
      <img src="%IMAGE_SRC%?scale" alt="%IMAGE_NAME%" width="600" height="400">
    </a>
    <div class="desc">%IMAGE_NAME%</div>
  </div>
</div>